.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: rgba(1, 1, 12, 0.651);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    color: white;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
  }
  
  .navbar li {
    margin: 0 15px;
  }
  
  .navbar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
  }
  